@model DevelopmentAS2.Models.CatalogoProducto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CatalogoProducto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdFichaTecnica" class="control-label"></label>
                <select asp-for="IdFichaTecnica" class ="form-control" asp-items="ViewBag.IdFichaTecnica"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEstampado" class="control-label"></label>
                <input asp-for="TipoEstampado" class="form-control" />
                <span asp-validation-for="TipoEstampado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TamañoEstampado" class="control-label"></label>
                <input asp-for="TamañoEstampado" class="form-control" />
                <span asp-validation-for="TamañoEstampado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioProducto" class="control-label"></label>
                <input asp-for="PrecioProducto" class="form-control" />
                <span asp-validation-for="PrecioProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCatalogo" class="control-label"></label>
                <input asp-for="TipoCatalogo" class="form-control" />
                <span asp-validation-for="TipoCatalogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenProducto" class="control-label"></label>
                <input asp-for="ImagenProducto" class="form-control" />
                <span asp-validation-for="ImagenProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
